.categories {
  h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33em;
    margin-bottom: 0;
  }
  .categories__item {
    padding: 15px;
    margin: 8px 0;
    font-size: 15px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    box-shadow: $boxShadow, $boxShadow2;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        box-shadow: $boxShadow, $boxShadowHover;
    } 
    i {
      font-size: 32px;
      padding-right: 16px;
    }
    p {
      font-size: 15px;
    }
  }
}
