$color : #ec5252;
$txtcolor :#505763;
$yellowColor :#f4c150;
$main-Color-Form: #e9ecef;
$main-Color-White-Form : #fff;
//_New_Chanel
$channelColor: #007791;
$yellowColor: #f4c150;

$boxShadow : 0 0 1px 1px rgba(20,23,28,0.1);
$boxShadow2 : 0 3px 1px 0 rgba(20,23,28,0.1);
$boxShadowHover : 0 2px 8px 2px rgba(20,23,28,.15);

